<%- include ("partials/header") %>

<p> 这里显示 week 类似flux的感觉 </p>
<!--  课程row -->

<div class="container">
    <% data.forEach(function(item){ %>
        <div class="row d-flex">
            <div class="col-10">
                <div class="card d-flex" style="margin: auto; ">
                    <div class="card-header">
                        <%= item.week %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> <%= item.weeklytitle %> </h5>
                        <p class="card-text"> <%= item.weeklycontent %>.</p>
                        <a href="/userHomePage/<%= item.classcode %>/<%= item.week %>" class="btn btn-primary">Do Quiz</a>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>

</div>


<%- include ("partials/footer") %>